td {
    width: 20px;
    height: 20px;
}

.free_cell {
    background: white;
}

.wall_cell {
    background: black;
}

.free_tower_cell {
    background: gray;
}

.p1_cell {
    background: blue;
}

.p2_cell {
    background: yellow;
}

.p1_tower_cell {
    background: darkblue;
}

.p2_tower_cell {
    background: darkgoldenrod;
}