td {
    width: 20px;
    height: 20px;
}

.free_cell {

}

.wall_cell {

}

.free_tower_cell {

}

.p1_cell {
    background: blue;
}

.p2_cell {
    background: yellow;
}

.p1_tower_cell {

}

.p2_tower_cell {

}